# API service
PORT=3000
ECHO_SERVER_BASE_URL=https://echo-serv.tbxnet.com/v1/secret
ECHO_SERVER_TOKEN=aSuperSecretKey
ECHO_SERVER_TIMEOUT=5000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=10
REQUEST_DEBOUNCE_WINDOW_MS=0
HTTP_LOG_FORMAT=tiny

# Frontend service
VITE_API_BASE_URL=http://localhost:3000
